{{#if cart}}
{{cart}}
<h1>Cart id: {{cart._id}}</h1>
{{#if cart.products.length}}
<ul>
  {{#each cart.products}}
  <li>
    <h2>{{this._id}}</h2>
    <p>title: {{this.product.title}}</p>
    <p>Quantity: {{this.quantity}}</p>
    <p>Price: ${{this.product.price}}</p>
  </li>
  {{/each}}
</ul>
{{else}}
there aren't produncts in this cart
{{/if}}

{{else}}
<p>Cart not found</p>
{{/if}}
{{!-- {{#if cart}}
<h1>cart id: {{cart._id}}</h1>
<ul>
  {{#each cart.products}}
  <li><b>id:</b> {{this.id}}, <b>quantity:</b> {{this.quantity}}</li>
  {{/each}}
</ul>
{{else}}
<p>Cart not found</p>
{{/if}} --}}