{{#if product}}
<h1>Product code: {{product.code}}</h1>
<ul>
    <li><b>_id:</b> {{product._id}}</li>
    <li><b>id:</b> {{product.id}}</li>
    <li><b>title:</b> {{product.title}}</li>
    <li><b>description:</b> {{product.description}}</li>
    <li><b>code:</b> {{product.code}}</li>
    <li><b>price:</b> {{product.price}}</li>
    <li><b>status:</b> {{product.status}}</li>
    <li><b>stock:</b> {{product.stock}}</li>
    <li><b>category:</b> {{product.category}}</li>
    <li><b>add to cart: </b> <a href="/carts/643f4ec9e876a7fe02e42fe3/product/{{product._id}}">add to cart</a></li>
</ul>
{{else}}
<p>producto no encontrado</p>
{{/if}}